@model bookkeeping2.Models.AccountBook
@{
    ViewBag.Title = "Home Page";
}

@*<div class="well">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">類別</label>
            <div class="col-sm-10">
                <select id="category" class="form-control">
                    <option value="" selected>請選擇</option>
                    <option>支出</option>
                    <option>收入</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="money" class="col-sm-2 control-label" id="uuu">金額</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="money" placeholder="金額">
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">日期</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="date" placeholder="日期">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">備註</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description"placeholder="備註"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
                <button type="submit" class="btn btn-default" id="enterdata">送出</button>
            </div>
        </div>
    </form>
</div>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>炯達記帳本</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Categoryyy,"類型", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Categoryyy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Categoryyy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amounttt,"金額", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amounttt, new { htmlAttributes = new {@class = "form-control"}  })
                @Html.ValidationMessageFor(model => model.Amounttt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dateee,"日期", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dateee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dateee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarkkk,"備註", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarkkk, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remarkkk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.Action("Ans");
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover" id="yyy">
            <tr>
                <th id="tt">ID</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
                <th>備註</th>
            </tr>

            @{ int i =0;
                foreach (var item in Model)
                {

                    i += 1;
                    <tr>
                        <td>@i</td>
                        @if (@item.Type == "收入"){
                            <td style="color:blue;">@item.Type</td>

                        }
                        else
                        {
                            <td style="color:red;">@item.Type</td>
                        }
                        <td >@item.Date</td>
                        <td >@item.Money</td>
                    <td>@item.Remarks</td>
                    </tr>
                }
            }
        </table>
            </div>
</div>*@



@*@section javaadd{
    <script type="text/javascript">
        $("#enterdata").on("click", function () {
            $('#yyy').append("<tr><th>ID</th><th>類別</th><th>日期</th><th>金額</th></tr>")
        });
        </script>
    }*@